<mat-card>
    <h1>SignUp</h1>
    <form #signupForm = "ngForm" (ngSubmit) = "onSubmit()" >
        <div>
            <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder = "example:you@you.com" 
                    [(ngModel)] = email 
                    name = email required>
                    <mat-hint>The one you really read</mat-hint>
              </mat-form-field> 
        </div>
        <div>
            <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)] = password name = password required>
                    <mat-hint>8 chracters or more</mat-hint>
              </mat-form-field> 
        </div>
        <div>
            <button [disabled] = "!signupForm.form.valid" type = "submit" mat-raised-button color="primary">SignUp</button>
       <p *ngIf="isError"> {{errorMessage}} </p>
        </div>
    </form>
</mat-card>